* {
    box-sizing: border-box;
}

body {
    background-color: #d9d9d9;
    color: white;
    font-family: "Cabin", sans-serif;
    font-weight: 550;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.form-container {
    width: 650px;
    background: #0050C3;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 10px 65px rgba(0,0,0,0.8);
    overflow: hidden;
    position: relative;
}

.form-step {
    display: none;
    flex-direction: column;
    gap: 10px;
}

.form-step.active {
    display: flex;
    animation: fade 0.4 ease-in-out;
}

@keyframes fade {
    from {opacity: 0; transform: btnCadastrar(20px);}
    to {opacity: 1; transform: translateX(0);}
}

header {
    padding: 2rem;
    background-color: #331f19;
    text-align: center;
}

h1, h3 {
    text-align: center;
}

input {
    padding: 10px;
    border: 1px solid #666;
    border-radius: 8px;
    background: #1a1f25;
    color: white;
    margin-top: 5px
}

input::placeholder {
    color: #aaa;
}

.buttons {
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
}

button:hover {
    background: #9aa96d;
}

input::placeholder {
    color: #cbbba7;
}

input[type=number]::-webkit-inner-spin-button {
    appearance: none;
}

.status {
    padding: 0px 0px 15px;
}


















