* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background: url('/frontend/img/background-login.png');
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('/frontend/img/background-login.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(215, 234, 252);
    margin-top: 14px;
    padding: 20px 20px;  
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    border-radius: 10px;
    font-size: 5px;
}

.opcoes-servicos {
    display: flex;
    gap: 5em;
    margin-left: 5px;
    justify-content: center;
    cursor: pointer;
}

.cadastrar-os, .adicionar-servicos-pecas, .cadastrar-pecas {
    display: inline-block;
    margin: 0;
    text-align: center;
}

img {
    height: 10em;
    background: #DAEBFD;
    border-radius: 15px;
}

img:hover {
    height: 12em;
    transition: 1.50s;
}

figcaption {
    margin-top: 8px;
    color: #555;
    font-size: 20px;
    display: block;
}


